<div class="start">
  <a href="/">
  <button id="exit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--white interactive-exit">
    <i class="material-icons">clear</i>
  </button>
</a>
  <div class="mdl-tooltip" data-mdl-for="exit">Exit to home</div>
  <div class="mdl-grid content-grid vs vert-div">
    <div class="mdl-cell mdl-grid.center-items">
      <h5 class="interactive-date">{{{day}}}</h5>
      <h4 class="">Welcome {{{user.profile.name.first}}}</h4>
    </div>
  </div>
  <div class="interactive-footer">
    <form method="POST" action="/entry">
      <input type="hidden" name="email" value="{{{user.email}}}"/>
      <input type="hidden" name="name" value="{{{user.profile.name.first}}}"/>
      <input type="hidden" name="phone" value="{{{user.profile.phone}}}"/>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button">Start</button>
    </form>
  </div>
</div>
