<div class="vs entry_eleven">
  <div class="mdl-grid content-grid vs vert-div">
    <div class="mdl-cell mdl-grid.center-items vert-div">
      <h4 class="interactive-title">{{{entry_title}}}</h4>
    </div>
    <div class="mdl-cell mdl-grid.center-items vert-div interactive-yes-no horz-div">
      <form method="POST" class="account-form" action="{{{form_action}}}" id="entry">
        <input type="hidden" name="email" value="{{{user.email}}}"/>
        <div class="">
          <div class="mdl-textfield mdl-js-textfield" id="sleep">
            <input class="mdl-textfield__input interactive_number" type="number" name="{{{entry_name}}}" id="{{{entry_name}}}" pattern="-?[0-9]*(\.[0-9]+)?" autofocus>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>
      </form>
    </div>
    <div class="interactive-footer">
      <a href="{{{last_entry}}}">
        <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button-back">Back</button>
      </a>
      <button type="submit" form="entry" class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button">Next</button>
    </div>
  </div>
</div>
<script>
</script>
